<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99371679594-s55l68c5nvgtultd1vfjlfm5uvp6coc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99371679594-s55l68c5nvgtultd1vfjlfm5uvp6coc5</string>
	<key>API_KEY</key>
	<string>AIzaSyC0pMPtRkbhvQeKOA-pIrwB6e24lZECCJw</string>
	<key>GCM_SENDER_ID</key>
	<string>99371679594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jakubchudzik.it-korepetycje</string>
	<key>PROJECT_ID</key>
	<string>it-korepetycje-4</string>
	<key>STORAGE_BUCKET</key>
	<string>it-korepetycje-4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99371679594:ios:44a1475c0d09c78f37ef13</string>
</dict>
</plist>